<h3>Private messages</h3>

<strong> Received messages </strong><br/>
<table>
<% unless @messages == nil%>
	<% @messages.each do |message| %>
		<tr>	
		<% @sender = User.find(message.user1_id)	%>
		<% if message.was_read %>	
			<% @message_title = "<td><span class='read_message'>" + message.title + "</td><td>  " + @sender.login + " " + "</td></span>"  %>
		<% else %>
			<% @message_title = "<td><span class='unread_message'>" + message.title + "</td><td>  " + @sender.login + " " + "</td></span>" %>
		<% end%>
 	<%= link_to @message_title.html_safe, message %> 
	</tr>
	<% end %>
</table>
<% end %>
<br/>	
<hr/>

<strong> Sent messages </strong><br/>
<table>
<% unless @messages_sent == nil%>
	<% @messages_sent.each do |message| %>
	<tr>
		<%  @receiver = User.find(message.user2_id) %>
		<% if message.was_read %>	
			<%= "<td><span class='read_message'>".html_safe %>
			<%=  link_to message.title, message %>   
			<%= "</td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>
			<%=  "</td><td> ".html_safe + @receiver.login + " " + "</td></span>".html_safe %>
			
		<% else %>
			<%= "<td><span class='unread_message'>".html_safe %>
			<%=  link_to message.title, message %> 
			<%= "</td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>  
			<%=  "</td><td> ".html_safe + @receiver.login + " " + "</td></span>".html_safe %>
		<% end%>
		
	</tr>	
	<% end %>	
</table>
<% end %>

