<div id="message_box">
<h3>Private messages</h3>

<strong> Received messages </strong><br/>
<table>
<% unless @messages == nil%>
	<% @messages.each do |message| %>
		<tr>	
		<% @sender = User.find(message.user1_id)	%>
		<% if message.was_read %>	
			<%= "<td><span class='read_message'>".html_safe %>
			<%=  link_to message.title, message %>   
			<%= "</span></td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>
			<%=  "</td><td> ".html_safe %> 
			<span class="user_link"><%= link_to @sender.login, @sender %></span>
			<%= "</td>".html_safe %>
		<% else %>
			<%= "<td><span class='unread_message'>".html_safe %>
			<%=  link_to message.title, message %> 
			<%= "</span></td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>  
			<%=  "</td><td> ".html_safe %> 
			<span class="user_link"><%= link_to @sender.login, @sender %></span>
			<%= "</td>".html_safe %>
		<% end%>
 	<% link_to message.title.html_safe, message %> 
	</tr>
	<% end %>
</table>
<% end %>
<br/>	
<hr/>

<strong> Sent messages </strong><br/>
<table>
<% unless @messages_sent == nil%>
	<% @messages_sent.each do |message| %>
	<tr>
		<%  @receiver = User.find(message.user2_id) %>
		<% if message.was_read %>	
			<%= "<td><span class='read_message'>".html_safe %>
			<%=  link_to message.title, message %>   
			<%= "</span></td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>
			<%=  "</td><td> ".html_safe %> 
			<span class="user_link"><%= link_to @receiver.login,@receiver %></span> 
			<%= "</td>".html_safe %>
			
		<% else %>
			<%= "<td><span class='unread_message'>".html_safe %>
			<%=  link_to message.title, message %> 
			<%= "</span></td><td>".html_safe + message.created_at.strftime("%d.%m.%Y")%>  
			<%=  "</td><td> ".html_safe %> 
			<span class="user_link"><%= link_to @receiver.login,@receiver %></span> 
			<%= "</td>".html_safe %>
		<% end%>
		
	</tr>	
	<% end %>	
</table>
<% end %>
<hr/>
<%= link_to "Send a new message(show user list) ", user_send_message_path %>||<%= link_to " Return to profile", current_user %>
</div>



