<b>Edit user</b>
<%= form_for(@user) do |f| %>
<%= render 'shared/user_error_messages' %>

<table>
<tr>
<td><%= f.label :Login %></td>
<td><%= f.text_field :login %></td>
</tr>

<tr>
<td><%= f.label :Name %></td>
<td><%= f.text_field :name %></td>
</tr>

<tr>
<td><%= f.label :Surname %></td>
<td><%= f.text_field :surname %></td>
</tr>

<tr>
<td><%= f.label :Age %></td>
<td><%= f.text_field :age %></td>
</tr>

<tr>
<td><%= f.label :Rating %></td>
<td><%= f.text_field :rating %></td>
</tr>

<tr>
<td width="10%"><%= f.label :email %></td>
<td width="40%"><%= f.email_field :email %></td>

<td  width="30%"><%= f.label :Newsletter %></td>
<td  width="10%"><%= f.check_box :newsletter %></td>
</tr>

<tr>
<td><%= f.label :Password %></td>
<td><%= f.password_field :password %></td>
</tr>

<tr>
<td><%= f.label :password_confirmation, "Password confirmation" %></td>
<td><%= f.password_field :password_confirmation %></td>
</div>

<tr>
<td><%= f.label :About_yourself %></td>
<td><%= text_area :user, :about	  %></td>
</tr>

<tr><td>
<%= f.submit "Update" %></td>
</tr>
</table>
<% end %>
