<% @tournaments.each do |tournament| %>
	<div id="tournament_stripe">
	<span class="tournament_stripe">	
		<% @tournament_stripe = tournament.name + " | " + tournament.start_date.strftime("%d.%m.%y") + "-" + tournament.finish_date.strftime("%d.%m.%y") %> 
		<%= link_to @tournament_stripe , tournament  %></span> 
		
		&nbsp&nbsp 
		
		<% if !signed_in? %>
		<%= link_to "[+]", :controller => "tournaments", :action => "add_to_observed_and_redirect", :id =>   
tournament.id %>
<% end %> 
		<% if signed_in? %>
			<% if Observedtournament.all(:conditions => {:user_id => current_user.id, :tournament_id => tournament.id }).empty? %>
				<%= link_to "[+]", :controller => "tournaments", :action => "add_to_observed_and_redirect", :id =>   
tournament.id %>
			<% else %>
				<%= link_to "[-]", :controller => "tournaments", :action => "remove_from_observed_and_redirect", :id =>   
tournament.id %>
			<% end %>
		<% end %>
		<br/>
	<% if  !tournament_not_observed(tournament.id) || (!signed_in? && cookies.signed[:watched_tournament] == tournament.id.to_s) %> 
	<table><tr><td width="80px">
		<% @rounds = get_all_rounds(tournament.id) %>	
		<% @rounds.each do |round| %>
		<span class="round_stripe">
			<% if signed_in? && !Observedround.where(:user_id => current_user.id, :round_id => round.id).first.nil? %>
				<% @round_number = "#Round " + round.round_number.to_s %>
			<% else %>	
				<% @round_number = "Round " + round.round_number.to_s %>
			<% end %>	
			<%= link_to @round_number, :controller => "tournaments", :action => "add_to_observed_round_and_redirect", :id =>  
tournament.id, :round_id => round.id %>			
				<br/>
		</span>
		<% end %>
	</td>
	<td valign="top">
		<% @eye = image_tag("pictograms/eye.gif", :alt => "Observe", :class => "round") %>
		<% @closed_eye = image_tag("pictograms/closed-eye.gif", :alt => "Observe", :class => "round") %>
				
		<% unless signed_in? %>
			<% @games = get_all_games(tournament.id,0) %>
		<% else %>
			<% @games = get_all_games(tournament.id, current_user.id) %>
		<% end%>
			<% unless @games.nil? %>		
				<table>
				<% @games.each do |game| %>
					<span class="game_stripe">
						<tr><td width="85%"><%= link_to prepare_game_string(game), game %> </td>
						
						<% if signed_in? && already_observed(game)%>
						<td>
						<%= link_to @eye,  :controller => "tournaments", :action => "remove_from_observed_games", :id => game.id , :confirm => "Are you sure you want to remove game from yourlist?" %>
						</td>
						<% elsif signed_in? && !already_observed(game) %>
						<td>
						<%= link_to @closed_eye,  :controller => "tournaments", :action => "add_to_observed_games", :id => game.id, :confirm => "Are you sure you want to observe this game?" %>
						</td>
						<% end %>
					</span>					
				</tr>	
				<% end %>
				</table>		
			<% end %>
	</td>	
</tr></table>
	<% end %>	
	</div>
<% end %>