<strong><%= @tournament.name %> | <%= @tournament.start_date.strftime("%d.%m.%y") %>-<%= @tournament.finish_date.strftime("%d.%m.%y") %></strong><br/><br/>
<table>
<tr>	
<td>
<% max_round_number = 0 %>	
	
<% @rounds.each do |round| %>

<% @round_stripe = "Round " + round.round_number.to_s %>	
<%= link_to @round_stripe, round %><br/>

<% if round.round_number > max_round_number %>
<% max_round_number = round.round_number %>	
<% end %>	
	
<% end %>	
 </td>
 
 <td>
 	
 <table border="1" align="center">	
 <tr><td>Nr</td><td width="50%">Player</td><td>Pts.</td><td>MBuch</td><td>Buch</td><td>AvgRtg</td></tr>	
 <%	@results = tournament_results(max_round_number) %>
 <% counter = 1 %>
 <% unless @results.nil? %>
 <% @results.each do |result| %>
 <% player = Player.find(result[0]) %>
 <tr><td>
 <%= counter.to_s + ". " %></td><td><strong><%= link_to (player.name + " " + player.surname),player %></strong></td><td>
 <%= result[1] %></td><td><%= result[2]%> </td><td> <%= result[3]%> </td><td> <%= result[4]%></td>
 <% counter+=1 %>
 </tr>
 <% end %>
  <% end %>
  
  </table>
 </td>	
</tr>
</table>