<span class="h2_stripe"><%= @iframe.tournament_name %> &nbsp>>&nbsp </span>

<% if @tournament.nil? %>
	<%= @tournament_link.html_safe %>
<% else %>
	<%= link_to @tournament_link.html_safe, @tournament %>
<% end %>


<br/>
<div id="iframe">

	
<%=  @iframe_string.html_safe 	%>


<br/>

<% if admin_in? %>
	<%= link_to "Match this iframe to tournament", :controller => "tomaiframes", :action => "match_with_tournament", :id => @iframe.id %>		
<% end %>	
</div>