<div id="wrapper">

<h3 id="game_header_name"><%= @ggame.get_white.to_s + " (" + @ggame.get_white_elo_str.to_s + ") " %>-<%= " " + @ggame.get_black.to_s + " (" +  @ggame.get_black_elo_str.to_s + ") " +  @ggame.get_result_str.to_s %></h3>

  <div id="board3"></div>
  <p id="board-annot">
  </p>
  <div id="pgn-jchess">   
	<%= @pgn_string %> </div>

  </p>
	
</div>

<div id="moves">
	
<% @positions.each do |position| %>

	<% half_move = position.move_number*2 %>
	<% if position.white_on_move? %>
		
		<%= position.move_number.to_s + ". " %>
		<% half_move -= 1 %>
	<% end %>
	
	
   <a class="goto-position" href="#" data-move="<%= half_move%>"><%= position.move %></a>

<% end %>	
	
</div>	

<div id="variations">
	

</div>	


