<div id="wrapper">
<script>
startCookieValue();
</script>

	

  <%= link_to "Back to round", @game.round %>|  <%= link_to "Back to tournament", @game.round.tournament %> &nbsp&nbsp&nbsp&nbsp&nbsp
  
  <% unless @game == @prevgame %>
 	 <%= link_to "<< Previous game", @prevgame %>
  <% else %>
  	<%= link_to "<< Previous round game", @prevroundgame %>
  <% end %>
  
  &nbsp|&nbsp
  <% unless @game == @nextgame %>
    <%= link_to "Next game >>", @nextgame %>
  <% else %>
  	<%= link_to "Next round game >>", @nextroundgame %>
  <% end %>
  <br/>  <br/>  

  <div id="board3"></div>
  <p id="board-annot">
  </p>
  <div id="pgn-jchess">   
	<%= @pgn_string %> </div>

  </p>
  
  <div id="game_movement">
    <a id="board-start" href="#"><%= image_tag("pictograms/start-arrow.gif", :alt => "Start", :class => "round") %> </a>
    <a id="board-back" href="#"><%= image_tag("pictograms/back-arrow.gif", :alt => "Back", :class => "round") %></a>
    <a id="board-next" href="#"><%= image_tag("pictograms/next-arrow.gif", :alt => "Next", :class => "round") %></a>
    <a id="board-finish" href="#"><%= image_tag("pictograms/finish-arrow.gif", :alt => "Finish", :class => "round") %> </a>
  </div>
  

  
</div>

<div id="moves">
	
<% @positions.each do |position| %>

	<% half_move = position.move_number*2 %>
	<% if position.white_on_move? %>
		
		<span class="move_number"><%= position.move_number.to_s + ". " %></span>
		<% half_move -= 1 %>
	<% end %>
	
	
   <a class="goto-position" href="#" data-move="<%= half_move%>"><%= position.move %></a>

<% end %>	

</div>	
<%= render :partial => "movecomment" %> 


					
					







