<% @eye = image_tag("pictograms/eye.gif", :alt => "Observe", :class => "round") %>
<% @closed_eye = image_tag("pictograms/closed-eye.gif", :alt => "Observe", :class => "round") %>	
<% @goto = image_tag("pictograms/goto_icon.gif", :alt => "Go", :class => "round") %>	

<span class="h2_stripe"> Games of <%= @player.name + " " + @player.surname  %> </span><br/>
	
	<% if admin_in? %>
		<%= link_to "Edit user name", edit_player_path(@player) %><br/><br/>
	
	
	<% end %>
	

<span class="h3_stripe"> Games with white </span><br/>	
<table>
<tr><td>Player white</td><td>Player black</td><td>Result</td><td>Moves</td><td>Link</td><td>Observation</td></tr>
<% @games_white.each do |game| %>
	
<% moves = game.positions.maximum(:move_number) %>	
	
<tr>
<td width="30%"><%= player(game,"white") %></td>
<td width="30%"><%= player(game,"black") %></td>
<td width="10%"><%= make_result(game.result) %></td>
<td width="10%"><% moves %><%= game.positions.size/2 + ((2-game.result.to_i)/2) %></td>
<td width="10%"><%= link_to @goto ,game %> </td>

	<td width="10%">					
		<% if signed_in? && already_observed(game)%>
		<%= link_to @eye,  :controller => "tournaments", :action => "remove_from_observed_games", :id => game.id , :confirm => "Are you sure you want to remove game from yourlist?" %>
		<% elsif signed_in? && !already_observed(game) %>
		<%= link_to @closed_eye,  :controller => "tournaments", :action => "add_to_observed_games", :id => game.id, :confirm => "Are you sure you want to observe this game?" %>
		<% end %>
		</td>
			
</tr>
<% end %>	
</table>

<span class="h3_stripe"> Games with black </span><br/>	
<table>
<tr><td>Player white</td><td>Player black</td><td>Result</td><td>Moves</td><td>Link</td><td>Observation</td></tr>
<% @games_black.each_with_index do |game,index| %>
<tr>
<td width="30%"><%= player(game,"white") %></td>
<td width="30%"><%= player(game,"black") %></td>
<td width="10%"><%= make_result(game.result) %></td>
<td width="10%"><%= game.positions.size/2 + ((2-game.result.to_i)/2) %></td>
<td width="10%"><%= link_to @goto ,game %> </td>

	<td width="10%">					
		<% if signed_in? && already_observed(game)%>
		<%= link_to @eye,  :controller => "tournaments", :action => "remove_from_observed_games", :id => game.id , :confirm => "Are you sure you want to remove game from yourlist?" %>
		<% elsif signed_in? && !already_observed(game) %>
		<%= link_to @closed_eye,  :controller => "tournaments", :action => "add_to_observed_games", :id => game.id, :confirm => "Are you sure you want to observe this game?" %>
		<% end %>
		</td>
			
</tr>
<% end %>	
</table>

<%= link_to "List all his/hers games", :controller => "players", :action => "list_all_games", :id => @player.id %>