

<% @info = Info.find(:all, :order => "created_at DESC", :conditions => {:user_id => params[:id]}) %>
<% unless @info.empty? %>
<% @info.each do |info| %>

<strong><%= info.title %></strong><br/>
<%= info.short_content %><br/><br/>

<%= link_to "Read info", info %>


<% if admin_in? || signed_in? && current_user.id == @info.user_id %>
| <%= link_to "Edit info", edit_info_path(info)%> |
<%= link_to "Delete info", info, :method => :delete, :confirm => "Are you sure?",
:title => "Delete #{info.title}" %>

<% end %>

<hr/>
<% end %>

<% else %>
<h3><%= "No infos to display" %></h3> 

<% end %>
<%= link_to "Return to profile", current_user %>