
<% route = ActionController::Routing::Routes.recognize_path request.env['PATH_INFO'] %>
<%  controller_name = route[:controller].split('/')[-1] %>
<% unless route[:id].nil? %>
<%  id_name = route[:id].split('/')[-1] %>
<% end %>


<% @edit_icon = image_tag("pictograms/edit_icon.gif", :alt => "+", :class => "round") %>
<% @delete_icon = image_tag("pictograms/delete_icon.gif", :alt => "-", :class => "round") %>

<% if controller_name == "tournaments" %>

<% @chat = Tourchat.find_all_by_tournament_id(id_name) %>
<% @chat.each do |chat| %>

<% if admin_in? || (signed_in? && current_user.id == chat.user_id) %>	
<%= link_to @edit_icon, edit_tourchat_path(chat) %>
<%= link_to @delete_icon, chat, :method => :delete, :confirm => "Are you sure?" %>	
<% end %>

<% user = User.find(chat.user_id) %>
<% user_login = user.login %>	
<% display_stripe = "<strong>" + user_login + "</strong></br> "  %>

<span class="chat_stripe"><%= chat.updated_at.strftime("%H.%M")%>	
	<%= link_to display_stripe.html_safe, user  %>
	<%= chat.content.html_safe %>
</span><br/>
<% end %>	



	
<% end %>	