
<% @breadcrumb =  breadcrumb(request.request_uri, {}) %>

<% unless @breadcrumb == '' %>
<span class="breadcrumbs"><%= @breadcrumb.html_safe %><br/></span>
<% else %>
<span class="breadcrumbs"><%= link_to "Home", root_path %><br/></span>
<% end %>



<ul id="navigation">
	<li> <%= link_to "Home page", root_path %>
	<li> <%= link_to "Newest infos", infos_path %>
	<li> <%= link_to "Tournaments", tournaments_path %>
	<li> Live broadcast
	<li> Videos
	<li> Photos		
	
</ul>	