<% route = ActionController::Routing::Routes.recognize_path request.env['PATH_INFO'] %>
<%  controller_name = route[:controller].split('/')[-1] %>
<% unless route[:id].nil? %>
<%  id_name = route[:id].split('/')[-1] %>
<% end %>


<% @edit_icon = image_tag("pictograms/edit_icon.gif", :alt => "+", :class => "round") %>
<% @delete_icon = image_tag("pictograms/delete_icon.gif", :alt => "-", :class => "round") %>


<% if controller_name == "games" && !@positions.nil? %>
	<% @positions.each do |position| %>

	<% half_move = position.move_number*2 %>
	<% if position.white_on_move? %>
		
		<%= position.move_number.to_s + ". " %>
		<% half_move -= 1 %>
	<% end %>
	
	
   <a class="goto-position" href="#" data-move="<%= half_move%>"><%= position.move %></a>

<% end %>
	
<% end %>	


<% if controller_name == "tournaments" %>
<h3>ZPawn </h3>

<% @zpawns = Zpawn.find_all_by_tournament_id(id_name) %>
<% @zpawns.each do |zpawn| %>
	
<% if admin_in? %>	
	<%= link_to @edit_icon, edit_zpawn_path(zpawn) %>
	<%= link_to @delete_icon, zpawn, :method => :delete, :confirm => "Are you sure?" %>
<% end %>
	
    <i><%= zpawn.updated_at.strftime("%H:%M") %></i>&nbsp
	<strong><%= @login = User.find(zpawn.user_id).login + ": " %></strong>
	<%= zpawn.content.html_safe %> <br/>
<% end %>	
<% end %>

	
<% if admin_in? && controller_name == "tournaments" %>
		<div id="zpawn_add">

		<% if !route[:id].nil?  %>

		<% form_for @zpawn do |f| %>
		<%= f.text_field :content, :size => 28 %>
		
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :tournament_id, :value => id_name %>
		
		<%= image_submit_tag ("add_chat_message.gif")%>
		<% end %>	
	
<% end %>	
		</div>
	
<% end %>	
