<% route = ActionController::Routing::Routes.recognize_path request.env['PATH_INFO'] %>
<%  controller_name = route[:controller].split('/')[-1] %>
<% unless route[:id].nil? %>
<%  id_name = route[:id].split('/')[-1] %>
<% end %>


<% @edit_icon = image_tag("pictograms/edit_icon.gif", :alt => "+", :class => "round") %>
<% @delete_icon = image_tag("pictograms/delete_icon.gif", :alt => "-", :class => "round") %>


<% if controller_name == "games" && !@positions.nil? %>
	<% @positions.each do |position| %>

	<% half_move = position.move_number*2 %>
	<% if position.white_on_move? %>
		
		<span class="move_number"><%= position.move_number.to_s + ". " %></span>
		<% half_move -= 1 %>
	<% end %>
   <a class="goto-position" href="#" data-move="<%= half_move%>"><%= position.move %></a>
<% end %>

<% @ggame = Game.find(@positions.first.game_id) %>
<strong><%= make_result @ggame.result %></strong>

<br/><br/><br/>

  <div id="game_movement">
    <a id="board-start" href="#"><%= image_tag("pictograms/start-arrow.png", :alt => "Start", :class => "round") %> </a>
    <a id="board-back" href="#"><%= image_tag("pictograms/back-arrow.gif", :alt => "Back", :class => "round") %></a>
    <a id="board-next" href="#"><%= image_tag("pictograms/next-arrow.gif", :alt => "Next", :class => "round") %></a>
    <a id="board-finish" href="#"><%= image_tag("pictograms/finish-arrow.png", :alt => "Finish", :class => "round") %> </a>
  </div>
  
<%= render :partial => "variations" %>




  
  
<% end %>	


<% if controller_name == "tournaments" && !id_name.nil? %>
	<div id="zpawn_display">
	<span class="h3_stripe">Live broadcast</span><br/>

	<% @zpawns = Zpawn.find_all_by_tournament_id(id_name) %>
	<% @zpawns.each do |zpawn| %>
	
		<% if admin_in? %>	
			<%= link_to @edit_icon, edit_zpawn_path(zpawn) %>
			<%= link_to @delete_icon, zpawn, :method => :delete, :confirm => "Are you sure?" %>
		<% end %>
	
	    <i><%= zpawn.updated_at.strftime("%H:%M") %></i>&nbsp
	    <% @login = User.find(zpawn.user_id) %>
		<strong><%= link_to @login.login + ": ", @login %></strong>
		<%= zpawn.content.html_safe %> <br/>
	<% end %>	
</div>
<% elsif controller_name != "games" %>		
	
	<div id="right_info_panel">
	<h3> Newest info</h3>

	<% @infos = Info.find(:all, :limit => 5) %>
	<% @infos.each do |info| %>
		<span class="rignt_info_panel_stripe"><%= link_to info.title, info %></span><br/>
		<%= info.short_content %><br/>
		<%= link_to "Read info", info %>
		(<%= comment_count = Comment.find(:all, :conditions => {:info_id => info.id}).size %>)


		<% if admin_in? || signed_in? && current_user.id == info.user_id %>
| 			<%= link_to "Edit info", edit_info_path(info)%> |
			<%= link_to "Delete info", info, :method => :delete, :confirm => "Are you sure?",
:title => "Delete #{info.title}" %><hr/>

		<% end %>
	<% end %>
</div>	
<% end %>

	
<% if admin_in? && controller_name == "tournaments" %>
		<div id="zpawn_add">

		<% if !route[:id].nil?  %>

		<% form_for @zpawn do |f| %>
		<%= f.text_field :content, :size => 25 %>
		
		<%= f.hidden_field :user_id, :value => current_user.id %>
		<%= f.hidden_field :tournament_id, :value => id_name %>
		
		<%= image_submit_tag ("add_chat_message.gif")%>
		<% end %>	
	
<% end %>	
		</div>

<% end %>	
