<!-- Program dedykuje mojej najukochańszej Gosi :* -->

<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-type" content="text/html; charset=utf-8" />  
<title><%= title %></title>
<%= csrf_meta_tag %>
<%= render 'layouts/stylesheets' %>
<%= javascript_include_tag :defaults %>
</head>
<div class="container">


<div id="top_panel">
<div id="logo">
	logo
</div>
<div id="banner">
	baner
	</div>
<div id="login_panel">	
	login
	</div>
</div>

<div id="left_panel">
	<div id="nav_panel">
	</div>
	
	<div id="chat_panel">
	</div>
</div>	
	
<div id="board_panel">
		<div id="board">
			</div>
		<div id="variations">
			</div>
</div>

<div id="right_panel">	
	<div id="game_info_panel">
	</div>
	
	<div id="game_notation_panel">
	</div>
</div>

<div id="footer">
	<%= render 'layouts/footer' %>
</div>

<%= debug(params) if Rails.env.development? %>



</div>
</body>
</html>